
h1{
    color:blueviolet;
}

.Overweight{
    color:green;
    margin-right: 800px;
    font-size:large;
}

.Underweight{
    color:green;
    margin-right: 800px;
    font-size:large;
}

.Healthy{
    color:green;
    margin-right: 800px;
    font-size:large;
}