
h1{
    color:brown;
    padding-left: 40px;

}

.Overweight{
    color:green;
    margin-right: 800px;
    font-size:large;
}

.Underweight{
    color:green;
    margin-right: 800px;
    font-size:large;
}

.Healthy{
    color:green;
    margin-right: 800px;
    font-size:large;
}